.bookQuotes {
    background-image: "/assets/images/book_quotes.jpg";
    background-repeat: no-repeat;
    height: 150px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin-left: -8px;
    margin-right: -8px;
}

.LogStatus {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}