<div class="login-container">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="authenticate()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" #userName="ngModel" id="username" [(ngModel)]="username" name="username" required>
      @if (userName.invalid && (userName.dirty || userName.touched) ) {
      <em class="error-message">
        Username is required.
      </em>
      }
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" #passWord="ngModel" [(ngModel)]="password" name="password" required>
      @if (passWord.invalid && (passWord.dirty || passWord.touched) ) {
      <em class="error-message">
        Password is required. 
      </em>
      }
    </div>
    <button type="submit" [disabled]="loginForm.form.invalid">Login</button>
    @if (errorMessage) {
      <div class="error-message">{{ errorMessage }}</div>
    }
  </form>
</div>
